// Base colors
$gray: #f7f7f9;
$medium-gray: #f0f0f0;
$dark-gray: #7b7b7b;
$dark-blue: #0b3f8b;
$light-blue: #0187e6;

// Font colors
$body-text: #363436;

// Link colors
$link-color: #0b3f8b;

// Button colors
$button-blue: #3a87df;

// Debug colors
$debug-blue: #03bcea;
$debug-gray: #cbcccc;
