{% extends "base.html" %}
{% load i18n %}

{# CSS Overrides #}
{% block stylesheet %}
<style>
div.fly-out-cart {
    position: relative;
    top: -3.5rem;
}
</style>
{% endblock stylesheet %}

{% block content %}
<div class="row">
    <div class="col">
        <div id="free-shipping-notice" class="font-weight-bold text-uppercase text-center mb-2" style="color: #790001; font-size: 1.2rem;">Free Shipping on Orders Over $49.<br />We are unable to guarantee delivery before 12/25.</div>
    </div>
</div>
<div class="row">
    {# Mens Sunglasses #}
    <div class="col-6 col-lg-4 mb-4">
        <a href="/shop/products/category/mens-sunglasses-5/" class="d-block link--clean">
            <div class="text-center rounded" style="background-color: #f0f0f0;">
                <img src="{{ STATIC_URL }}hobie/images/home-mens-sunglasses.jpg" class="rounded-top" />
                <h1 class="pt-2 pb-2 mb-0" style="font-size: 1.5rem;">Men's Sunglasses</h1>
            </div>
        </a>
    </div>
    {# Womens Apparel #}
    <div class="col-6 col-lg-4 mb-4">
        <a href="/shop/products/category/womens-apparel-7/" class="d-block link--clean">
            <div class="text-center rounded" style="background-color: #f0f0f0;">
                <img src="{{ STATIC_URL }}hobie/images/home-womens-apparel.jpg" class="rounded-top" />
                <h1 class="pt-2 pb-2 mb-0" style="font-size: 1.5rem;">Women's Apparel</h1>
            </div>
        </a>
    </div>
    {# Mens Apparel #}
    <div class="col-6 col-lg-4 mb-4">
        <a href="/shop/products/category/mens-apparel-2/" class="d-block link--clean">
            <div class="text-center rounded" style="background-color: #f0f0f0;">
                <img src="{{ STATIC_URL }}hobie/images/home-mens-apparel.jpg" class="rounded-top" />
                <h1 class="pt-2 pb-2 mb-0" style="font-size: 1.5rem;">Men's Apparel</h1>
            </div>
        </a>
    </div>
    {# Womens Sunglasses #}
    <div class="col-6 col-lg-4 mb-4">
        <a href="/shop/products/category/womens-sunglasses-6/" class="d-block link--clean">
            <div class="text-center rounded" style="background-color: #f0f0f0;">
                <img src="{{ STATIC_URL }}hobie/images/home-womens-sunglasses.jpg" class="rounded-top" />
                <h1 class="pt-2 pb-2 mb-0" style="font-size: 1.5rem;">Women's Sunglasses</h1>
            </div>
        </a>
    </div>
    {# Accessories #}
    <div class="col-6 col-lg-4 mb-4">
        <a href="/shop/products/category/accessories-1/" class="d-block link--clean">
            <div class="text-center rounded" style="background-color: #f0f0f0;">
                <img src="{{ STATIC_URL }}hobie/images/home-accessories.jpg" class="rounded-top" />
                <h1 class="pt-2 pb-2 mb-0" style="font-size: 1.5rem;">Accessories</h1>
            </div>
        </a>
    </div>
    {# Hats #}
    <div class="col-6 col-lg-4 mb-4">
        <a href="/shop/products/category/hats-4/" class="d-block link--clean">
            <div class="text-center rounded" style="background-color: #f0f0f0;">
                <img src="{{ STATIC_URL }}hobie/images/home-hats.jpg" class="rounded-top" />
                <h1 class="pt-2 pb-2 mb-0" style="font-size: 1.5rem;">Hats</h1>
            </div>
        </a>
    </div>
</div>
{% endblock %}
