{% extends "base.html" %}
{% load i18n %}

{# Hide flyout cart (empty block) #}
{% block flyout_cart %}{% endblock flyout_cart %}

{% block content %}
<div class="row">
    {# Mens Sunglasses #}
    <div class="col-6 col-lg-4 mb-4">
        <a href="#" class="d-block link--clean">
            <div class="text-center rounded-lg p-4" style="background-color: #f0f0f0;">
                <img src="{{ STATIC_URL }}hobie/images/home-mens-sunglasses.png" />
                <h1 class="mt-5" style="font-size: 1.5rem;">Men's Sunglasses</h1>
            </div>
        </a>
    </div>
    {# Womens Apparel #}
    <div class="col-6 col-lg-4 mb-4">
        <a href="#" class="d-block link--clean">
            <div class="text-center rounded-lg p-4" style="background-color: #f0f0f0;">
                <img src="{{ STATIC_URL }}hobie/images/home-womens-apparel.png" />
                <h1 class="mt-5" style="font-size: 1.5rem;">Women's Apparel</h1>
            </div>
        </a>
    </div>
    {# Mens Apparel #}
    <div class="col-6 col-lg-4 mb-4">
        <a href="#" class="d-block link--clean">
            <div class="text-center rounded-lg p-4" style="background-color: #f0f0f0;">
                <img src="{{ STATIC_URL }}hobie/images/home-mens-apparel.png" />
                <h1 class="mt-5" style="font-size: 1.5rem;">Men's Apparel</h1>
            </div>
        </a>
    </div>
    {# Womens Sunglasses #}
    <div class="col-6 col-lg-4 mb-4">
        <a href="#" class="d-block link--clean">
            <div class="text-center rounded-lg p-4" style="background-color: #f0f0f0;">
                <img src="{{ STATIC_URL }}hobie/images/home-womens-sunglasses.png" />
                <h1 class="mt-5" style="font-size: 1.5rem;">Women's Sunglasses</h1>
            </div>
        </a>
    </div>
    {# Accessories #}
    <div class="col-6 col-lg-4 mb-4">
        <a href="#" class="d-block link--clean">
            <div class="text-center rounded-lg p-4" style="background-color: #f0f0f0;">
                <img src="{{ STATIC_URL }}hobie/images/home-accessories.png" />
                <h1 class="mt-5" style="font-size: 1.5rem;">Accessories</h1>
            </div>
        </a>
    </div>
    {# Hats #}
    <div class="col-6 col-lg-4 mb-4">
        <a href="#" class="d-block link--clean">
            <div class="text-center rounded-lg p-4" style="background-color: #f0f0f0;">
                <img src="{{ STATIC_URL }}hobie/images/home-hats.png" />
                <h1 class="mt-5" style="font-size: 1.5rem;">Hats</h1>
            </div>
        </a>
    </div>
</div>
{% endblock %}
